
.login-view {
    -fx-pref-width: 340px;
    -fx-background-color: white;
    /*-fx-pref-height: 400px;*/
}

.login-head-bar {
    -fx-alignment: center-right;
}

.login-image {
    -fx-pref-width: 300px;
    -fx-fit-to-width: 200px;
    -fx-fit-to-height: 320px;
    -fx-alignment: center;
}

.login-title {
    -fx-alignment: center;
    -fx-padding: 8px;
}

.login-title > .header {
    -fx-font-size: 22px;
    -fx-pref-width: 360px;
    -fx-alignment: center;
}

.login-title > .sub-header {
    -fx-font-size: 18px;
    -fx-alignment: center;
}

.login-body {
    -fx-pref-height: 100px;
    -fx-padding: 16 32 16 16;
}

/*.login-body > .title {*/
/*    -fx-font-size: 16px;*/
/*    -fx-alignment: right;*/
/*}*/

.icons {
    -fx-fill: secondary;
}

.login-body > .jfx-text-field {
    -jfx-focus-color: secondary-light;
    -jfx-unfocus-color: secondary;
}

.login-body > .jfx-password-field {
    -jfx-focus-color: secondary-light;
    -jfx-unfocus-color: secondary;
}

.al-center-left {
    -fx-alignment: center;
}

.sp-48 {
    -fx-spacing: 48px;
}

.sp-5 {
    -fx-spacing: 5px;
}

.wid-120 {
    -fx-pref-width: 100px;
}

.wid-30 {
    -fx-pref-width: 30px;
}

.text-field, .password-field {
    -fx-background-color: white;
}

.text-field:hover, .password-field:hover {
    -fx-background-color: secondary-light;
}

/*.button {*/
/*    -fx-background-color: secondary;*/
/*}*/

/*.button:hover {*/
/*    -fx-background-color: secondary-light;*/
/*    -fx-text-fill: purple;*/
/*}*/

SVGPath {
    -fx-fill: secondary-light;
}

SVGPath:hover {
    -fx-fill: purple;
}

.jfx-check-box {
    -jfx-checked-color: secondary;
    -jfx-unchecked-color: secondary;
}

.hgap-30 {
    -fx-pref-width: 30px;
}

.login-tail {
    -fx-pref-height: 80px;
    -fx-spacing: 16px;
    -fx-padding: 16 16 32 16;
}